/* color {
    primary-color: 
    secondary-color:              https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500
    accent-color: 
    acccent_color2: 


}

font {
    headinh-font Roboto 700
    body: roboto 400
} */

/* 
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 { font-family: Merriweather, serif;} */



body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  zoom: 0.8;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}
/* Add your flexbox CSS below here */
