* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: darkblue;
    --textColor: #333;
    --lightBg: #eee;
    --borderColor: black;
    --boxShadow: 2px 2px 6px gray;
    --smallPadding: 5px;
    --mediumPadding: 10px;
    --largePadding: 20px;
    --asideWidth: 20rem;
    --mainMaxWidth: 840px;
}


nav {
    background-color: var(--mainColor);
    padding: var(--mediumPadding);
}

nav a {
    color: white;
    display: block;
    padding: var(--largePadding);
}

main  {
    max-width: var(--mainMaxWidth);
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid var(--borderColor);
    padding: var(--smallPadding);
    box-shadow: var(--boxShadow);
    float: right;
}

aside {
    width: var(--asideWidth);
    text-align: center;
    position: relative;

}

aside h2 {
    position: relative;
    top: 47px;
    left: 15px;
    font-weight: 900;
}
aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: var(--mainColor);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--borderColor);

}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--borderColor);
    text-align: center;
}

/* Class Selector */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--borderColor);
    background-color: #e6f2ff;
    color: var(--textColor);
}

